.main-container {
  width: 80%;
  margin: 50px auto;
}

.search {
  margin-bottom: 20px;
}

.search input {
  padding: 10px;
}

table {
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;

}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: gray;
  color: white;
  font-weight: bold;
  text-align: center;
}

td {
  color: #333;
}

table {
  border-radius: 8px;
  overflow: hidden;
}

.selected-row {
  background-color: lightgrey;
}

.bottom-container {
  padding: 50px 0 5px 0;
}

.delete {
  padding: 5px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.delete {
  background-color: #ff4d4d;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete:hover {
  background-color: #e60000;
}